/* You can add global styles to this file, and also import other style files */

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  img {
      width: 50px;
      height: 50px;
  }
}

.owl-prev {
  left: -2rem;
}

.owl-next {
  right: -2rem;
}